body {
    font-family: Times New Roman;
    background-color: #ccc;
    margin: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    margin: 50px;
    padding: 30px;
   
}

.sidebar {
    width: 200px;
    background-color: #808080;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

    .sidebar a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        margin-bottom: 10px;
        border-radius: 4px;
    }

        .sidebar a:hover {
            background-color: #f0f0f0; 
        }

.main-content {
    flex-grow: 1; 
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;
}


